<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="coin" class="cards.Coin" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="You won a coin!">
		</constructor-arg>
	</bean>
	<bean id="decreaseOpponentHealth"
		class="cards.DecreaseOpponentHealth" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="Your opponent's health is decreased by 25%!">
		</constructor-arg>
	</bean>
	<bean id="increaseHealth"
		class="cards.IncreaseHealth" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="Your health is increased by 15%!">
		</constructor-arg>
	</bean>
	<bean id="knife"
		class="cards.Knife" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="You won a knife!">
		</constructor-arg>
	</bean>
	<bean id="lightUp"
		class="cards.LightUp" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="Your flashlight has become stronger and now is lighting 2 more squares!">
		</constructor-arg>
	</bean>
	<bean id="reduceOpponentMoves"
		class="cards.ReduceOpponentMoves" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="Your opponent will lose 3 of their moves!">
		</constructor-arg>
	</bean>
	<bean id="showWholeMap"
		class="cards.ShowWholeMap" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="You are allowed to see the whole map!">
		</constructor-arg>
	</bean>
	<bean id="trap"
		class="cards.Trap" scope="singleton">
		<constructor-arg name="info" type="java.lang.String"
			value="Your opponent fell into a trap and will miss a turn!">
		</constructor-arg>
	</bean>
	<bean id="fightBox" class="box.FightBox" scope="singleton">
		<property name="wildCards">
			<list>
			<ref bean="coin" />
			<ref bean="increaseHealth" />
			<ref bean="knife" />
			<ref bean="lightUp" />
			<ref bean="showWholeMap" />
			</list>
		</property>
		<property name="despicableCards">
			<list>
			<ref bean="decreaseOpponentHealth" />
			<ref bean="reduceOpponentMoves" />
			<ref bean="trap" />
			</list>
		</property>
	</bean>
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="dataSource" scope="singleton">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url" value="jdbc:mysql://localhost:3306/mazedb">
	</property>
	<property name="username" value="root"></property>
	<property name="password" value="root"></property>
	</bean>

	<bean id="usersDAO" class="player.UsersDAO">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
</beans>
